@page "/orders/creation"
@using HotelMotor.Modules.Services.Components

<h1>Crear Orden</h1>

<EditForm Model="newOrder" OnValidSubmit="HandleValidSubmit">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <textarea class="form-control" @bind="newOrder.Summary" id="summary" placeholder="" required></textarea>
                    <label for="vehicle-type">Resumen del proceso realizado</label>
                </div>
            </div>
        </div>
        <div class="overflow-auto overflow-x-hidden p-3" style="max-height: 45vh;">
            @for (int i = 0; i < _orderDetails.Count; i++)
            {
                <ServiceDropdown />
            }
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-1 d-flex justify-content-center align-content-center mb-3">
                    <button type="button" class="btn btn-primary" @onclick="AddOrderDetail" style="width: 100%;">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class=" d-flex justify-content-center">
                <p>
                    Total: @CalculateTotal()
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Guardar Orden</button>
            </div>
        </div>
    </div>
</EditForm>
