<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container d-flex justify-content-evenly">
        <a class="navbar-brand" href="/" aria-label="Ir a la página principal">
            <img src="./images/navbar/tool-logo.png" alt="HotelMotor logo" class="img-fluid" style="max-width: 40px; height: auto;" />
        </a>
        <a class="navbar-text h2 text-white text-decoration-none" href="/">HotelMotor</a>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle text-bg-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" aria-controls="navbarDropdown">
                Vehículos
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/vehicles">Ver vehículos</a></li>
                <li><a class="dropdown-item" href="/vehicles/create">Añadir nuevo vehículo</a></li>
            </ul>
        </div>
    </div>
</nav>
